*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main{
	background-color: #F2F2F2;
	margin:100px 300px;
	height: 600px;
}
.left{
	float: left;
	padding:100px 50px;
	width: 35%;
}
.right{
	float: right;
	padding:100px 50px;
	width: 65%;
}
.content{
	margin:10px;
	width: 45%;
	float: left;
	border: 1px solid #333;
	padding:5px;
}
.content1{
	background-color: #D8D8D8;
	 padding: 5px;
	 text-align: center;
}
.all-content{
	margin-top: 50px;
}
.title{
  text-align: center;
}
.text{
  text-align: center;
}
.image img{
	border-radius: 50%;
}